//Variables Overrides


//Colors
$red:     #cc0033;
$yellow:  #ffcc00;
$green:   #19d300;


//Buttons
$btn-border-width: 2px;

// Fonts

$main-font: 'Raleway', sans-serif;
$second-font: 'Vidaloka', sans-serif;